#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp Q         &kp W       &kp E  &kp R          &kp T        &kp Y      &kp U    &kp I      &kp O    &kp P
&kp A         &kp S       &kp D  &kp F          &kp G        &kp H      &kp J    &kp K      &kp L    &kp BSPC
&mt LSHIFT Z  &mt LALT X  &kp C  &kp V          &kp B        &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH
                                 &mt LMETA TAB  &lt 0 ESC    &kp SPACE  &kp RET
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
