#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp Q         &kp W       &kp E  &kp R          &kp T        &kp Y        &kp U            &kp I      &kp O          &kp P
&kp A         &kp S       &kp D  &kp F          &kp G        &kp H        &kp J            &kp K      &kp L          &kp BSPC
&mt LSHIFT Z  &mt LALT X  &kp C  &kp V          &kp B        &kp N        &kp M            &kp COMMA  &mt LCTRL DOT  &mt LSHIFT SLASH
                                 &mt LMETA TAB  &lt 1 ESC    &lt 2 SPACE  &mt LCTRL ENTER
            >;
        };

        numbers {
            bindings = <
&kp LG(F6)     &kp LG(F7)   &kp LG(F8)    &kp LG(F9)   &kp LG(F10)    &kp LG(F11)  &kp LG(F12)  &kp LG(F13)   &kp LG(F16)  &kp LG(F17)
&kp LG(F1)     &kp LG(F2)   &kp LG(F3)    &kp LG(F4)   &kp LG(F5)     &kp LEFT     &kp DOWN     &kp UP        &kp RIGHT    &trans
&mt LSHIFT N1  &mt LALT N2  &mt LCTRL N3  &mt LGUI N4  &kp N5         &kp N6       &mt LGUI N7  &mt LCTRL N8  &mt LALT N9  &mt LSHIFT N0
                                          &trans       &trans         &trans       &trans
            >;
        };

        symbols {
            bindings = <
&kp LS(PLUS)   &kp LS(CARET)  &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PRCNT)    &kp LS(AMPS)   &kp LS(LT)     &kp LS(GT)  &kp LS(DLLR)   &kp LS(PIPE)
&kp LS(UNDER)  &kp LS(DQT)    &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(EXCL)     &kp LS(QMARK)  &kp LS(COLON)  &kp LS(AT)  &kp LS(TILDE)  &trans
&mt LSHIFT MINUS      &mt LALT EQUAL      &mt LCTRL LBKT      &mt LGUI RBKT      &kp LS(POUND)    &kp LS(STAR)   &mt LGUI  SEMI       &mt LCTRL GRAVE   &mt LALT BSLH       &mt LSHIFT SQT
                                            &trans        &trans           &trans         &trans
            >;
        };
    };
};
