#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
&kp Q         &kp W       &kp E  &kp R          &kp T        &kp Y        &kp U            &kp I      &kp O          &kp P
&kp A         &kp S       &kp D  &kp F          &kp G        &kp H        &kp J            &kp K      &kp L          &kp BSPC
&mt LSHIFT Z  &mt LALT X  &kp C  &kp V          &kp B        &kp N        &kp M            &kp COMMA  &mt LCTRL DOT  &mt LSHIFT SLASH
                                 &mt LMETA TAB  &lt 1 ESC    &lt 2 SPACE  &mt LCTRL ENTER
            >;
        };

        numbers {
            bindings = <
&kp LG(F6)  &kp LG(F7)  &kp LG(F8)  &kp LG(F9)  &kp LG(F10)    &kp LG(F11)  &kp LG(F12)  &kp LG(F13)  &kp LG(F16)  &kp LG(F17)
&trans      &trans      &trans      &trans      &trans         &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans
&mt LSHIFT 1  &mt LALT 2 &mt LCTRL 3 &mt LCTRL 4 &kp 5         &kp 6 &mt LCTRL 7 &mt LCTRL 8 &mt LALT 9 &mt LSHIFT 0
                                    &trans      &trans         &trans    &trans
            >;
        };

        symbols {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
